*{margin: 0;padding: 0;}
body{
	width: 100%;
	height: 100%;
	background-color: rgb(250, 248, 239);
	user-select:none;
}
#wrapper{
	margin: 20px auto 0;
	/*padding: 5px;*/

}
#title:after{
	content: "";
	display: block;
	clear: both;
}
#title h1{
	float:left;
	color:rgb(119, 110, 101);
	padding: 10px;
}
#title .score-box{
	float: right;
}
#title .score-box div{
	float:left;
	font-weight: bold;
	margin-left:10px;
	padding: 5px;
	text-align: center;
	line-height: ;
	border-radius: 5px;
	background-color:rgb(187, 173, 160);
}
#title p:first-child{
	color:rgb(231, 228, 218);
}
#title p:last-child{
	color:white;
}
#content{
	position: relative;
}
#content div{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin:auto;
	background-color: rgb(187, 173, 160);
	
}
#content ul:after{
	content:"";
	display: block;
	clear:both;
}
#content li{
	list-style: none;
	width: 60px;
	height: 60px;
	float:left;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 12px;
	text-align: center;
	line-height: 60px;
	display: inline-block;
	background-color: #cbc2b2;
	border-radius: 5px;
	transition:all .2s;
}
#content .gameover-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 99%;
	text-align: center;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
}
.gameover-wrap h2{
	font-size: 36px;
	padding: 20px;
}
.gameover-wrap button{
	padding: 5px;
}
#content .gamewin-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 99%;
	text-align: center;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
}
.gamewin-wrap h2{
	font-size: 36px;
	padding: 20px;
	color:red;
}
.gamewin-wrap button{
	padding: 5px;
	margin-left: 10px;
}